.info {
  color: hsl(210, 45%, 50%);
}

.success {
  color: hsl(120, 100%, 50%);
}

.error {
  color: hsl(0, 100%, 50%);
}

.warning {
  color: hsl(55, 100%, 50%);
}

.errorserious {
  color: hsl(0, 100%, 70%);
}
