.sidebar-collapsed{
    display: none;
}

.sidebar-size-collapsed{
    min-width: 50px !important;
    min-height:50px;
}

.p-0{
    padding: 0;
    position: relative !important;
    right: 10px !important;
}