@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');


.arima-regular {
  font-family: "Arima", system-ui !important;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.tasa-orbiter-regular {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.todo-complete-displayer:active,
.todo-complete-displayer:hover {
    height: 200px;
}